<body class = "background centered">

<div style="position: relative; top: 37%; transform: translateY(-50%);">

	<h2>Resend confirmation instructions</h2>
	<p>We can send you another email with the instructions</p>
	<br/>
	<br/>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.text_field :username, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', placeholder: 'Insert username registered', autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>

	<br/>
	<br/>

	<%= render "devise/shared/links" %>

</div>
</body>