<body class = "background centered">

<div style="position: relative; top: 37%; transform: translateY(-50%);">

	<font color="#000099">

	<h2>Resend confirmation instructions</h2>
	<p>We can send you another email with the instructions</p>
	<font color="red"><%= flash[:notice] %></font>
	<font color="green"><%= flash[:success] %></font>
	<br/>
	<br/>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

	  <div class="field">
	    <%= f.email_field :email, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', placeholder: 'Insert email registered', autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>

	<br/>
	<br/>

	<%= render "devise/shared/links" %>

	</font>

</div>
</body>