<body class = "background centered">

<div style="position: relative; top: 37%; transform: translateY(-50%);">

  <h2>Sign up</h2>

  <br/>
  <br/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', autocomplete: "off" %>
    </div>

    <br/>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <br/>
  <br/>

  <%= render "devise/shared/links" %>

</div>
</body>