<body>
	<!-- Head of comparison -->
	<div class="row big-head" style="background-color: #ddffff; width: 100vw; height: 55vh; margin: 0px;">
		<div class="split" style="width: 25vw; float: right;">
			<h2 class = "<%= color(@info_handle_1['user']['rating']) %>">
				<span class = "<%= @info_handle_1['user']['first_letter'] %>"><%= @info_handle_1['user']['handle'][0] %></span><%= @info_handle_1['user']['handle'][1..-1] %></h2>
			<img src=<%= @info_handle_1['user']['titlePhoto'] %> style="width: auto; max-height: 20vh">
			<p>Current rating: <b><%= @info_handle_1['user']['rating'] %></b></p>
			<p><i>(min: <%= @info_handle_1['worstRating'] %>)&emsp;(max: <%= @info_handle_1['user']['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info_handle_1['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info_handle_1['maxDown'] %></b></p>
		</div>


		<div class="split" style="text-align: center; width: 50vw; padding-left: 0; padding-top: 0;">
			<h5>Rating comparison</h5>
			<div id="tagchart1" class="centered" style="padding-top: -5%; width: 100%; height: 80%;">
			</div>
			<p>Current rating difference: <b><%= @info['ratingDifference'] %></b></p>
		</div>


		<div class="split" style="position: absolute; width: 25vw; right: 0vw">
			<h2 class = "<%= color(@info_handle_2['user']['rating']) %>">
				<span class = "<%= @info_handle_2['user']['first_letter'] %>" ><%= @info_handle_2['user']['handle'][0] %></span><%= @info_handle_2['user']['handle'][1..-1] %></h2>
			<img src=<%= @info_handle_2['user']['titlePhoto'] %> style="width: auto; max-height: 20vh">
			<p>Current rating: <b><%= @info_handle_2['user']['rating'] %></b></p>
			<p><i>(min: <%= @info_handle_2['worstRating'] %>)&emsp;(max: <%= @info_handle_2['user']['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info_handle_2['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info_handle_2['maxDown'] %></b></p>
		</div>
	</div>

	<div class="row small-head" style="background-color: #ddffff; width: 100vw; height: 70vh; margin: 0px;">
		<div class="split" style="width: 50vw; float: right;">
			<h2 class = "<%= color(@info_handle_1['user']['rating']) %>" style="font-size: 5vw">
				<span class = "<%= @info_handle_1['user']['first_letter'] %>"><%= @info_handle_1['user']['handle'][0] %></span><%= @info_handle_1['user']['handle'][1..-1] %></h2>
			<p>Current rating: <b><%= @info_handle_1['user']['rating'] %></b></p>
			<p><i>(min: <%= @info_handle_1['worstRating'] %>)&emsp;(max: <%= @info_handle_1['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info_handle_1['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info_handle_1['maxDown'] %></b></p>
		</div>
		<div class="split" style="position: absolute; width: 50vw; right: 0vw">
			<h2 class = "<%= color(@info_handle_2['user']['rating']) %>" style="font-size: 5vw">
				<span class = "<%= @info_handle_2['user']['first_letter'] %>" ><%= @info_handle_2['user']['handle'][0] %></span><%= @info_handle_2['user']['handle'][1..-1] %></h2>
			<p>Current rating: <b><%= @info_handle_2['user']['rating'] %></b></p>
			<p><i>(min: <%= @info_handle_2['worstRating'] %>)&emsp;(max: <%= @info_handle_2['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info_handle_2['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info_handle_2['maxDown'] %></b></p>
		</div>
	</div>

	<div class="small-head" style="background-color: #ddffff; width: 100vw; height: 100vh;position: relative; text-align: center; padding-left: 0; padding-top: 0;">
		<h5>Rating comparison</h5>
		<div id="tagchart2" style="padding-left: 5%;width: 100%; height: 80%;">
		</div>
		<p>Current rating difference: <b><%= @info['ratingDifference'] %></b></p>
	</div>

	<!-- Handle1 stats -->
	<div class="row big-screen" style="background-color: #ddffff; height: 35vw; padding-top: 2%; margin: 0px;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center"><%= @info_handle_1['user']['handle'] %>'s stats</h4>
		</div>
		<div class="centered" style="height: 90%; width: 25vw">
			<br/>
			<div id="tagchart3"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info_handle_1['problemTags'].to_json.html_safe %>, "tagchart3");});
		    </script> 
		</div>

		<div class="centered" style="height: 90%; width: 25vw">
			Solved <b><%= @info_handle_1['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search1, nil, placeholder: "Search problem", onkeyup: "filter('1', 'list1')" %>
			<br/>
			<br/>
			<div id="list1" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 25vw">
			Participated in <b><%= @info_handle_1['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search2, nil, placeholder: "Search contest", onkeyup: "filter('2', 'list2')" %>
			<br/>
			<br/>
			<div id="list2" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 25vw">
			<b><%= @info_handle_1['unsolvedProblems'].length.to_s %></b> problems unsolved (attempted)!
			<br/>
			<%= text_field_tag :search3, nil, placeholder: "Search problem", onkeyup: "filter('3', 'list3')" %>
			<br/>
			<br/>
			<div id="list3" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row middle-screen" style="height: 120vw; background-color: #ddffff; margin: 0px;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center"><%= @info_handle_1['user']['handle'] %>'s stats</h4>
		</div>
		<div class="centered" style="height: 55vw; width: 50%;">
			<div id="tagchart30"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info_handle_1['problemTags'].to_json.html_safe %>, "tagchart30");});
		    </script> 
		</div>

		<div class="centered" style=" height: 55vw; width: 50%;">
			Solved <b><%= @info_handle_1['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search4, nil, placeholder: "Search problem", onkeyup: "filter('4', 'list4')" %>
			<br/>
			<br/>
			<div id="list4" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			Participated in <b><%= @info_handle_1['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search5, nil, placeholder: "Search contest", onkeyup: "filter('5', 'list5')" %>
			<br/>
			<br/>
			<div id="list5" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			<b><%= @info_handle_1['unsolvedProblems'].length.to_s %></b> problems unsolved (attempted)!
			<br/>
			<%= text_field_tag :search6, nil, placeholder: "Search problem", onkeyup: "filter('6', 'list6')" %>
			<br/>
			<br/>
			<div id="list6" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="small-screen" style="background-color: #ddffff;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center"><%= @info_handle_1['user']['handle'] %>'s stats</h4>
		</div>
		<div class="centered" style="width: 100vw;">
			<br/>
			<div id="tagchart4"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info_handle_1['problemTags'].to_json.html_safe %>, "tagchart4");});
		    </script> 
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			Solved <b><%= @info_handle_1['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search7, nil, placeholder: "Search problem", onkeyup: "filter('7', 'list7')" %>
			<br/>
			<br/>
			<div id="list7" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_1['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			Participated in <b><%= @info_handle_1['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search8, nil, placeholder: "Search contest", onkeyup: "filter('8', 'list8')" %>
			<br/>
			<br/>
			<div id="list8" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_1['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			<b><%= @info_handle_1['unsolvedProblems'].length.to_s %></b> problems unsolved (attempted)!
			<br/>
			<%= text_field_tag :search9, nil, placeholder: "Search problem", onkeyup: "filter('9', 'list9')" %>
			<br/>
			<br/>
			<div id="list9" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_1['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- Handle2 stats -->
	<div class="row big-screen" style="background-color: #ddffff; height: 35vw; padding-top: 2%; margin: 0px;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center"><%= @info_handle_2['user']['handle'] %>'s stats</h4>
		</div>
		<div class="centered" style="height: 90%; width: 24.7vw">
			<div id="tagchart5"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info_handle_2['problemTags'].to_json.html_safe %>, "tagchart5");});
		    </script> 
		</div>

		<div class="centered" style="height: 90%; width: 24.7vw">
			Solved <b><%= @info_handle_2['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search10, nil, placeholder: "Search problem", onkeyup: "filter('10', 'list10')" %>
			<br/>
			<br/>
			<div id="list10" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 24.7vw">
			Participated in <b><%= @info_handle_2['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search11, nil, placeholder: "Search contest", onkeyup: "filter('11', 'list11')"%>
			<br/>
			<br/>
			<div id="list11" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 24.7vw">
			<b><%= @info_handle_2['unsolvedProblems'].length.to_s %></b> problems unsolved (attempted)!
			<br/>
			<%= text_field_tag :search12, nil, placeholder: "Search problem", onkeyup: "filter('12', 'list12')" %>
			<br/>
			<br/>
			<div id="list12" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row middle-screen" style="height: 120vw; background-color: #ddffff; margin: 0px;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center"><%= @info_handle_2['user']['handle'] %>'s stats</h4>
		</div>
		<div class="centered" style="height: 55vw; width: 50%;">
			<div id="tagchart40"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info_handle_2['problemTags'].to_json.html_safe %>, "tagchart40");});
		    </script> 
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			Solved <b><%= @info_handle_2['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search13, nil, placeholder: "Search problem", onkeyup: "filter('13', 'list13')" %>
			<br/>
			<br/>
			<div id="list13" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			Participated in <b><%= @info_handle_2['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search14, nil, placeholder: "Search contest", onkeyup: "filter('14', 'list14')"%>
			<br/>
			<br/>
			<div id="list14" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			<b><%= @info_handle_2['unsolvedProblems'].length.to_s %></b> problems unsolved (attempted)!
			<br/>
			<%= text_field_tag :search15, nil, placeholder: "Search problem", onkeyup: "filter('15', 'list15')" %>
			<br/>
			<br/>
			<div id="list15" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="small-screen" style="background-color: #ddffff;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center"><%= @info_handle_2['user']['handle'] %>'s stats</h4>
		</div>
		<div class="centered" style="width: 100vw">
			<div id="tagchart6"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info_handle_2['problemTags'].to_json.html_safe %>, "tagchart6");});
		    </script> 
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			Solved <b><%= @info_handle_2['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search16, nil, placeholder: "Search problem", onkeyup: "filter('16', 'list16')" %>
			<br/>
			<br/>
			<div id="list16" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_2['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			Participated in <b><%= @info_handle_2['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search17, nil, placeholder: "Search contest", onkeyup: "filter('17', 'list17')"%>
			<br/>
			<br/>
			<div id="list17" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_2['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			<b><%= @info_handle_2['unsolvedProblems'].length.to_s %></b> problems unsolved (attempted)!
			<br/>
			<%= text_field_tag :search18, nil, placeholder: "Search problem", onkeyup: "filter('18', 'list18')" %>
			<br/>
			<br/>
			<div id="list18" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_2['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- Common stats -->
	<div class="row big-screen" style="background-color: #ddffff; height: 35vw; padding-top: 2%; margin: 0px;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center">Common stats</h4>
		</div>
		<!--
		<div class="row" style="background-color: #ddffff; height: 8vw; width: 100vw;">
			<div style="margin: auto; text-align: center">
				<h1>Result</h1>
				<p>Current rating difference: <b><%= @info['ratingDifference'] %></b></p>
			</div>
		</div>
		-->

		<div class="centered" style="height: 90%; width: 24.7vw">
			You solved <b><%= @info['commonProblems'].length.to_s %></b> problems in common!</button>
			<br/>
			<%= text_field_tag :search19, nil, placeholder: "Search problem", onkeyup: "filter('19', 'list19')" %>
			<br/>
			<br/>
			<div id="list19" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['commonProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 24.7vw">
			<%= @info_handle_1['user']['handle']%> solved <b><%= @info_handle_1['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search20, nil, placeholder: "Search problem", onkeyup: "filter('20', 'list20')" %>
			<br/>
			<br/>
			<div id="list20" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 24.7vw">
			<%= @info_handle_2['user']['handle']%> solved <b><%= @info_handle_2['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search21, nil, placeholder: "Search problem", onkeyup: "filter('21', 'list21')" %>
			<br/>
			<br/>
			<div id="list21" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 90%; width: 24.7vw">
			<b><%= @info['commonContests'].length %></b> contests both users participated!
			<br/>
			<!--
			<i><p>In which...</p>
			<p></i><%= @info_handle_1['user']['handle'] %><i> ranked better than </i><%= @info_handle_2['user']['handle'] %><i> <b><%= @info_handle_1['winsOver'] %></b> times</p>
			<p></i><%= @info_handle_2['user']['handle'] %><i> ranked better than </i><%= @info_handle_1['user']['handle'] %><i> <b><%= @info_handle_2['winsOver'] %></b> times</p></i>
			<br/><br/>
			-->
			<%= text_field_tag :search22, nil, placeholder: "Search contest", onkeyup: "filter('22', 'list22')" %>
			<br/>
			<br/>
			<div id="list22" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['commonContests'].each do |contest| %>
					<div>
					<a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a><br>
					<p><%= @info_handle_1['user']['handle'] %>: <b><%= contest['handle1']['rank'] %></b>&emsp;<%= @info_handle_2['user']['handle'] %>: <b><%= contest['handle2']['rank'] %></b></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row middle-screen" style="height: 120vw; background-color: #ddffff; margin: 0px;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center">Common stats</h4>
		</div>
		<!--
		<div class="row" style="background-color: #ddffff; height: 8vw; width: 100vw;">
			<div style="margin: auto; text-align: center">
				<h1>Result</h1>
				<p>Current rating difference: <b><%= @info['ratingDifference'] %></b></p>
			</div>
		</div>
		-->

		<div class="centered" style="height: 55vw; width: 50%;">
			You solved <b><%= @info['commonProblems'].length.to_s %></b> problems in common!</button>
			<br/>
			<%= text_field_tag :search23, nil, placeholder: "Search problem", onkeyup: "filter('23', 'list23')" %>
			<br/>
			<br/>
			<div id="list23" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['commonProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			<%= @info_handle_1['user']['handle']%> solved <b><%= @info_handle_1['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search24, nil, placeholder: "Search problem", onkeyup: "filter('24', 'list24')" %>
			<br/>
			<br/>
			<div id="list24" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_1['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			<%= @info_handle_2['user']['handle']%> solved <b><%= @info_handle_2['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search25, nil, placeholder: "Search problem", onkeyup: "filter('25', 'list25')" %>
			<br/>
			<br/>
			<div id="list25" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info_handle_2['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 55vw; width: 50%;">
			<b><%= @info['commonContests'].length %></b> contests both users participated!
			<br/>
			<!--
			<i><p>In which...</p>
			<p></i><%= @info_handle_1['user']['handle'] %><i> ranked better than </i><%= @info_handle_2['user']['handle'] %><i> <b><%= @info_handle_1['winsOver'] %></b> times</p>
			<p></i><%= @info_handle_2['user']['handle'] %><i> ranked better than </i><%= @info_handle_1['user']['handle'] %><i> <b><%= @info_handle_2['winsOver'] %></b> times</p></i>
			<br/><br/>
			-->
			<%= text_field_tag :search26, nil, placeholder: "Search contest", onkeyup: "filter('26', 'list26')" %>
			<br/>
			<br/>
			<div id="list26" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['commonContests'].each do |contest| %>
					<div>
					<a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a><br>
					<p><%= @info_handle_1['user']['handle'] %>: <b><%= contest['handle1']['rank'] %></b>&emsp;<%= @info_handle_2['user']['handle'] %>: <b><%= contest['handle2']['rank'] %></b></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="small-screen" style="background-color: #ddffff;">
		<div style="width: 100%; padding-left: 5%">
			<h4 style="text-align: center">Common stats</h4>
		</div>
		<!--
		<div class="row" style="background-color: #ddffff; height: 8vw; width: 100vw;">
			<div style="margin: auto; text-align: center">
				<h1>Result</h1>
				<p>Current rating difference: <b><%= @info['ratingDifference'] %></b></p>
			</div>
		</div>
		-->

		<div class="centered" style="width: 100vw; height: 60vh;">
			You solved <b><%= @info['commonProblems'].length.to_s %></b> problems in common!</button>
			<br/>
			<%= text_field_tag :search27, nil, placeholder: "Search problem", onkeyup: "filter('27', 'list27')" %>
			<br/>
			<br/>
			<div id="list27" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info['commonProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			<%= @info_handle_1['user']['handle']%> solved <b><%= @info_handle_1['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search28, nil, placeholder: "Search problem", onkeyup: "filter('28', 'list28')" %>
			<br/>
			<br/>
			<div id="list28" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_1['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			<%= @info_handle_2['user']['handle']%> solved <b><%= @info_handle_2['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search29, nil, placeholder: "Search problem", onkeyup: "filter('29', 'list29')" %>
			<br/>
			<br/>
			<div id="list29" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info_handle_2['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="width: 100vw; height: 60vh;">
			<b><%= @info['commonContests'].length %></b> contests both users participated!
			<br/>
			<!--
			<i><p>In which...</p>
			<p></i><%= @info_handle_1['user']['handle'] %><i> ranked better than </i><%= @info_handle_2['user']['handle'] %><i> <b><%= @info_handle_1['winsOver'] %></b> times</p>
			<p></i><%= @info_handle_2['user']['handle'] %><i> ranked better than </i><%= @info_handle_1['user']['handle'] %><i> <b><%= @info_handle_2['winsOver'] %></b> times</p></i>
			<br/><br/>
			-->
			<%= text_field_tag :search30, nil, placeholder: "Search contest", onkeyup: "filter('30', 'list30')" %>
			<br/>
			<br/>
			<div id="list30" style="display:inline-block; height: 70%; width: 70%; overflow: auto;">
				<% @info['commonContests'].each do |contest| %>
					<div>
					<a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a><br>
					<p><%= @info_handle_1['user']['handle'] %>: <b><%= contest['handle1']['rank'] %></b>&emsp;<%= @info_handle_2['user']['handle'] %>: <b><%= contest['handle2']['rank'] %></b></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
	window.addEventListener('DOMContentLoaded', 
		function(){
			google.charts.load('current', {'packages':['corechart']});
	      	google.charts.setOnLoadCallback(function(){drawChart2(<%= @info['contestsMerged'].to_json.html_safe %>, "tagchart1", "<%= @info_handle_1['user']['handle'] %>", "<%= @info_handle_2['user']['handle'] %>");});
			
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(function(){drawChart2(<%= @info['contestsMerged'].to_json.html_safe %>, "tagchart2", "<%= @info_handle_1['user']['handle'] %>", "<%= @info_handle_2['user']['handle'] %>");});
		}
	);

	//resize graph when windows is resized   
	$(window).resize(function() {
	    if(this.resizeTO) clearTimeout(this.resizeTO);
	    this.resizeTO = setTimeout(function() {
	        drawChart2(<%= @info['contestsMerged'].to_json.html_safe %>, "tagchart2", "<%= @info_handle_1['user']['handle'] %>", "<%= @info_handle_2['user']['handle'] %>");

	        drawChart2(<%= @info['contestsMerged'].to_json.html_safe %>, "tagchart1", "<%= @info_handle_1['user']['handle'] %>", "<%= @info_handle_2['user']['handle'] %>");
	    }, 100);
	});
</script>