<body class = "background centered">
	<% for user in UserSetting.all %>
		Username: <%= user.username %> <br/>
		Handle: <%= user.handle %> <br/>
		Friends: <%= user.friends %> <br/>
		Links: <%= user.settings %> <br/>
		Contests: <%= user.contests %> <br/>
		<br/>
	<% end %>
</body>