<body class = "background centered">
	<% for user in UserSetting.all %>
		Username: <%= user.username %> <br/>
		Handle: <%= user.handle %> <br/>
		Friends: <%= user.friends %> <br/>
		Links: <%= user.settings %> <br/>
		Contests: <%= user.contests %> <br/>
		Updated at: <%= user.updated_at %> <br/>
		<br/>
	<% end %>
	<br/>
	============================================================
	<br/>
	============================================================
	<br/>
	============================================================
	<br/>
	<br/>
	<% for entry in UserInformation.all %>
		Handle: <%= entry.handle %> <br/>
		Information: <%= entry.info %> <br/>
		Updated at: <%= entry.updated_at %> <br/>
	<% end %>
</body>