<body class = "background centered">

<div style="position: relative; top: 37%; transform: translateY(-50%);">

<h2>Change your password</h2>

  <br/>
  <%= devise_error_messages! %>
  <br/>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.password_field :password, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', placeholder: 'New password (6 characters min)', autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', placeholder: 'Repeat password', autocomplete: "off" %>
    </div>

    <br/>

    <div class="actions">
      <%= f.submit "Change my password", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <br/>
  <br/>

  <%= render "devise/shared/links" %>

</div>
</body>