<body class = "background centered">

<div style="position: relative; top: 37%; transform: translateY(-50%);">

	<font color="#000099">

	<h2>Forgot your password?</h2>
	<p>Don't worry! We can send a link to create a new password to your registered email!</p>
	<br/>
	<%= devise_error_messages! %>
	<br/>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

	  <div class="field">
	    <%= f.email_field :email, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', placeholder: 'Insert email registered', autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>

	<br/>
	<br/>

	<%= render "devise/shared/links" %>

	</font>

</div>
</body>