<head>
    <!-- Bootstrap CSS -->
</head>

<body class = "background centered">

	<% if user_signed_in? %>
		<h4>Hello, <%= current_user.username %>!</h4>
	<% end %>

	<br/>
	<br/>

	<p>Below you can add your Codeforces handle so you don't have to type it everytime</p>

	<input type="text" id="update_handle_form" placeholder="Update Codeforces handle">

	<br/>
	<div id = "handles_notice"></div>

	<br/>
	<div id = "handles">
		<% for user in UserSetting.where(username: current_user.username) %>	
			<div id = "<%= user.handle %>">
				<a target='_blank' href='http://codeforces.com/profile/<%= user.handle %>'>
					<%= user.handle %>
				</a>
			</div>
		<% end %>
	</div>

	<br/>
	<br/>
	<br/>
	<p> Below you can add/remove Codeforces friends for easy access to their comparisons!</p>

	<input type="text" id="add_friends_form" placeholder="Add friend">
	<input type="text" id="delete_friends_form" placeholder="Remove friend">

	<br/>
	<div id = "friends_notice"></div>
	
	<br/>
	<div id = "friends">
		<% for user in UserSetting.where(username: current_user.username) %>
			<% for friend in user.friends %>
				<div id = "<%= friend %>">
					<a target='_blank' href='http://codeforces.com/profile/<%= friend %>'>
						<%= friend %>
					</a>
				</div>
			<% end %>
		<% end %>
	</div>

	<br/>
	<br/>
	<br/>


	<div class="container">


	<div class="fiftyLEFT">

	<p>Add/remove Codeforces problems to upsolve</p>

	<input type="text" id="add_links_form" placeholder="Add problem URL">
	<input type="text" id="delete_links_form" placeholder="Remove problem URL">

	<br/>
	<%= text_field_tag :search11, nil, placeholder: "Search problem", onkeyup: "filter('11', 'links')" %>




	<div id = "links_notice"></div>

	<br/>
	<br/>
	<div id = "links">
		<% for user in UserSetting.where(username: current_user.username) %>
			<% for link in user.settings %>
				<div id = "<%= link %>">
					<div>
					<% if @problems_solved.key?(link) %>
						&emsp;(solved)
					<% end %>
					<a target='_blank' href='http://codeforces.com/contest/<%= link[0, link.length-1] %>/problem/<%= link[link.length-1] %>'>
						<%= link %>
					</a>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<br/>
	<br/>
	<br/>
	<br/>

	</div>


	<div class="fiftyRIGHT">

	<p>Add/remove Codeforces contests to upsolve</p>
	
	<input type="text" id="add_contests_form" placeholder="Add contest URL">
	<input type="text" id="delete_contests_form" placeholder="Remove contest URL">
	<br/>
	<div id = "contests_notice"></div>

	<br/>
	<div id = "contests">
		<% for user in UserSetting.where(username: current_user.username) %>
			<% for contest in user.contests %>
				<div id = "<%= contest %>">
					<a target='_blank' href='http://codeforces.com/contest/<%= contest %>'>
						<%= contest %>
					</a>
					<% if @contests_attempted.key?(contest) %>
						&emsp;(attempted)
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>

	<br/>
	<br/>
	<br/>
	<br/>

	</div>

</body>