<h1>Result:</h1>
<p>User 1: <%= @info['handle1']['handle'] %></p>
<p>Current rating: <%= @info['handle1']['rating'] %> (max: <%= @info['handle1']['maxRating'] %>) (min: <%= @info['handle1']['worstRating'] %>)</p>
<p>Participated in  <%= @info['handle1']['amountContests'] %>  contests!</p>

</br>
<p>Number of problems solved by tag:</p>
<% @info['handle1']['tags'].each do |tag, amount| %>
	<%= tag.to_s + ': ' + amount.to_s %><br>
<% end %>

</br></br></br>

<p>User 2: <%= @info['handle2']['handle'] %></p>
<p>Current rating: <%= @info['handle2']['rating'] %> (max: <%= @info['handle2']['maxRating'] %>) (min: <%= @info['handle2']['worstRating'] %>)</p>
<p>Participated in  <%= @info['handle2']['amountContests'] %>  contests!</p>

</br>
<p>Number of problems solved by tag:</p>
<% @info['handle2']['tags'].each do |tag, amount| %>
	<%= tag.to_s + ': ' + amount.to_s %><br>
<% end %>


</br></br></br></br></br>


<p>Current rating difference: <%= @info['ratingDifference'] %></p>
<p>Maximum rating difference: <%= @info['maxRatingDifference'] %></p>


</br></br></br></br></br></br></br></br>

<%= 'You solved ' + @info['commonProblems'].length.to_s + ' problems in common!' %><br><br>
<% @info['commonProblems'].each do |problem| %>
	<%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %><br>
<% end %>

<br>