<body>
	<div class="row big-screen" style="background-color: #ddffff; width: 100vw; height: 30vh">
		<div class="split" style="width: 25vw; float: right;">
			<h2 class = "<%= color(@info['handle1']['rating']) %>">
				<span class = "<%= @info['handle1']['first_letter1'] %>"><%= @info['handle1']['handle'][0] %></span><%= @info['handle1']['handle'][1..-1] %></h2>
			<img src=<%= @info['handle1']['titlePhoto'] %> style="width: auto; max-height: 20vh">
			<p>Current rating: <b><%= @info['handle1']['rating'] %></b></p>
			<p><i>(min: <%= @info['handle1']['worstRating'] %>)&emsp;(max: <%= @info['handle1']['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info['handle1']['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info['handle1']['maxDown'] %></b></p>
		</div>


		<div class="split" style="width: 50vw;">
		</div>


		<div class="split" style="position: absolute; width: 25vw; right: 0vw">
			<h2 class = "<%= color(@info['handle2']['rating']) %>">
				<span class = "<%= @info['handle2']['first_letter2'] %>" ><%= @info['handle2']['handle'][0] %></span><%= @info['handle2']['handle'][1..-1] %></h2>
			<img src=<%= @info['handle2']['titlePhoto'] %> style="width: auto; max-height: 20vh">
			<p>Current rating: <b><%= @info['handle2']['rating'] %></b></p>
			<p><i>(min: <%= @info['handle2']['worstRating'] %>)&emsp;(max: <%= @info['handle2']['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info['handle2']['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info['handle2']['maxDown'] %></b></p>
		</div>
	</div>



	<div class="row small-screen" style="background-color: #ddffff; width: 100vw; height: 30vh">
		<div class="split" style="width: 50vw; float: right;">
			<h2 class = "<%= color(@info['handle1']['rating']) %>" style="font-size: 5vw">
				<span class = "<%= @info['handle1']['first_letter1'] %>"><%= @info['handle1']['handle'][0] %></span><%= @info['handle1']['handle'][1..-1] %></h2>
			<p>Current rating: <b><%= @info['handle1']['rating'] %></b></p>
			<p><i>(min: <%= @info['handle1']['worstRating'] %>)&emsp;(max: <%= @info['handle1']['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info['handle1']['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info['handle1']['maxDown'] %></b></p>
		</div>
		<div class="split" style="position: absolute; width: 50vw; right: 0vw">
			<h2 class = "<%= color(@info['handle2']['rating']) %>" style="font-size: 5vw">
				<span class = "<%= @info['handle2']['first_letter2'] %>" ><%= @info['handle2']['handle'][0] %></span><%= @info['handle2']['handle'][1..-1] %></h2>
			<p>Current rating: <b><%= @info['handle2']['rating'] %></b></p>
			<p><i>(min: <%= @info['handle2']['worstRating'] %>)&emsp;(max: <%= @info['handle2']['maxRating'] %>)</i></p>
			<p>Max rating increase: <b><%= @info['handle2']['maxUp'] %></b></p>
			<p>Max rating decrease: <b><%= @info['handle2']['maxDown'] %></b></p>
		</div>
	</div>





	<div class="row" style="background-color: #ddffff; height: 30vw">

		<div class="centered" style="width: 24.7vw">
			<br/>
			<div id="tagchart1"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info['handle1']['problemTags'].to_json.html_safe %>, "tagchart1");});
		    </script> 
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			Solved <b><%= @info['handle1']['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search1, nil, placeholder: "Search problem", onkeyup: "filter('1')" %>
			<br/>
			<br/>
			<div id="list1" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle1']['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			Participated in <b><%= @info['handle1']['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search2, nil, placeholder: "Search contest", onkeyup: "filter('2')" %>
			<br/>
			<br/>
			<div id="list2" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle1']['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			<b><%= @info['handle1']['unsolvedProblems'].length.to_s %></b> problems to do!
			<br/>
			<%= text_field_tag :search3, nil, placeholder: "Search problem", onkeyup: "filter('3')" %>
			<br/>
			<br/>
			<div id="list3" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle1']['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

	</div>





	<div class="row" style="background-color: #ddffff; height: 30vw">

		<div class="centered" style="width: 24.7vw">
			<div id="tagchart2"></div>
		    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		    <script type="text/javascript">
		      	// Load google charts
		      	google.charts.load('current', {'packages':['corechart']});
		      	google.charts.setOnLoadCallback(function(){drawChart(<%= @info['handle2']['problemTags'].to_json.html_safe %>, "tagchart2");});
		    </script> 
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			Solved <b><%= @info['handle2']['acProblems'].length %></b> problems!
			<br/>
			<%= text_field_tag :search4, nil, placeholder: "Search problem", onkeyup: "filter('4')" %>
			<br/>
			<br/>
			<div id="list4" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle2']['acProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> > <%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			Participated in <b><%= @info['handle2']['contests'].length %></b> contests!
			<br/>
			<%= text_field_tag :search5, nil, placeholder: "Search contest", onkeyup: "filter('5')"%>
			<br/>
			<br/>
			<div id="list5" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle2']['contests'].each do |contest| %>
					<div><a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			<b><%= @info['handle2']['unsolvedProblems'].length.to_s %></b> problems to do!
			<br/>
			<%= text_field_tag :search6, nil, placeholder: "Search problem", onkeyup: "filter('6')" %>
			<br/>
			<br/>
			<div id="list6" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle2']['unsolvedProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

	</div>





	<div class="row" style="background-color: #ddffff; height: 30vw">

		<!--
		<div class="row" style="background-color: #ddffff; height: 8vw; width: 100vw;">
			<div style="margin: auto; text-align: center">
				<h1>Result</h1>
				<p>Current rating difference: <b><%= @info['ratingDifference'] %></b></p>
			</div>
		</div>
		-->

		<div class="centered" style="height: 100%; width: 24.7vw">
			You solved <b><%= @info['commonProblems'].length.to_s %></b> problems in common!</button>
			<br/>
			<%= text_field_tag :search7, nil, placeholder: "Search problem", onkeyup: "filter('7')" %>
			<br/>
			<br/>
			<div id="list7" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['commonProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			<%= @info['handle1']['handle']%> solved <b><%= @info['handle1']['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search8, nil, placeholder: "Search problem", onkeyup: "filter('8')" %>
			<br/>
			<br/>
			<div id="list8" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle1']['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			<%= @info['handle2']['handle']%> solved <b><%= @info['handle2']['uniqueProblems'].length.to_s %></b> unique problems!
			<br/>
			<%= text_field_tag :search9, nil, placeholder: "Search problem", onkeyup: "filter('9')" %>
			<br/>
			<br/>
			<div id="list9" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['handle2']['uniqueProblems'].each do |problem| %>
					<div><a target="_blank" href= <%= problem['url'] %> ><%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %></a></div>
				<% end %>
			</div>
		</div>

		<div class="centered" style="height: 100%; width: 24.7vw">
			<b><%= @info['commonContests'].length %></b> contests both users participated!
			<br/>
			<!--
			<i><p>In which...</p>
			<p></i><%= @info['handle1']['handle'] %><i> ranked better than </i><%= @info['handle2']['handle'] %><i> <b><%= @info['handle1']['winsOver'] %></b> times</p>
			<p></i><%= @info['handle2']['handle'] %><i> ranked better than </i><%= @info['handle1']['handle'] %><i> <b><%= @info['handle2']['winsOver'] %></b> times</p></i>
			<br/><br/>
			-->
			<%= text_field_tag :search10, nil, placeholder: "Search contest", onkeyup: "filter('10')" %>
			<br/>
			<br/>
			<div id="list10" style="display:inline-block; height: 80%; width: 90%; overflow: auto;">
				<% @info['commonContests'].each do |contest| %>
					<div>
					<a target="_blank" href= <%= contest['url'] %> > <%= contest['contestName'] %> </a><br>
					<p><%= @info['handle1']['handle'] %>: <b><%= contest['handle1']['rank'] %></b>&emsp;<%= @info['handle2']['handle'] %>: <b><%= contest['handle2']['rank'] %></b></p>
					</div>
				<% end %>
			</div>
		</div>

	</div>

</body>