<h1>Result:</h1>
<p>User 1: <%= @handle1 %></p>
<p>Current rating: <%= @rating1 %> (max: <%= @maxRating1 %>)</p>

</br>

<p>User 2: <%= @handle2 %></p>
<p>Current rating: <%= @rating2 %> (max: <%= @maxRating2 %>)</p>

</br>

<p>Current rating difference: <%= @ratingDifference %></p>
<p>Maximum rating difference: <%= @ratingDifference %></p>


</br></br>
<%= 'You solved ' + @problems.length.to_s + ' problems in common!' %><br><br>
<% @problems.each do |a| %>
	<%= a['contestId'].to_s+a['index'].to_s + ' - ' + a['name'].to_s %><br>
<% end %>