<h1>Result:</h1>
<p>User 1: <%= @handle1 %></p>
<p>Current rating: <%= @rating1 %> (max: <%= @maxRating1 %>)</p>

</br>

<p>User 2: <%= @handle2 %></p>
<p>Current rating: <%= @rating2 %> (max: <%= @maxRating2 %>)</p>

</br></br>

<p>Current rating difference: <%= @ratingDifference %></p>
<p>Maximum rating difference: <%= @ratingDifference %></p>