<h1>Result:</h1>
<p>User 1: <%= @info['handle1']['handle'] %></p>
<p>Current rating: <%= @info['handle1']['rating'] %> (max: <%= @info['handle1']['maxRating'] %>)</p>

<p>Number of problems solved by tag:</p></br>
<%= @info['handle1']['tags'].each do |tag, amount| %>
	<%= tag.to_s + ': ' + amount.to_s %><br>
<% end %>

</br></br></br>

<p>User 2: <%= @info['handle2']['handle'] %></p>
<p>Current rating: <%= @info['handle2']['rating'] %> (max: <%= @info['handle2']['maxRating'] %>)</p>

<p>Number of problems solved by tag:</p></br>
<%= @info['handle2']['tags'].each do |tag, amount| %>
	<%= tag.to_s + ': ' + amount.to_s %><br>
<% end %>

</br></br></br></br></br>

<p>Current rating difference: <%= @info['ratingDifference'] %></p>
<p>Maximum rating difference: <%= @info['maxRatingDifference'] %></p>




</br></br></br></br></br></br></br></br></br></br>
<%= 'You solved ' + @info['commonProblems'].length.to_s + ' problems in common!' %><br><br>
<% @info['commonProblems'].each do |problem| %>
	<%= problem['contestId'].to_s+problem['index'].to_s + ' - ' + problem['name'].to_s %><br>
<% end %>

<br>