<body class = "background centered">

<div style="position: relative; top: 37%; transform: translateY(-50%);">

  <h2>Log in</h2>
  <br/>
  <font color="green"><%= flash[:success] %></font>
  <% flash.each do |name, msg| %>
    <% if name != 'success' %>
      <font color="red"><%= content_tag :div, msg, id: "flash_#{name}" %></font>
    <% end %>
  <% end %>
  <br/>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control form-control text-center', style: 'width: 250px; margin: 0 auto; float: none;', autocomplete: "off" %>
    </div>

    <!--
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    -->

    <br/>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <br/>
  <br/>

  <%= render "devise/shared/links" %>

</div>
</body>