
<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>
  <head>
    <title>CF Statistics</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'cfstats.jpg' %>
    <%= include_gon(:init => true, watch: true) %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width", initial-scale=1, maximum-scale=1>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom">
      <div class="container-fluid d-inline-flex">

        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <!--<a class="navbar-brand justify-cotent-start" href="#home"><%= image_tag "logo.png", size:"250x50" %></a>-->
        </button>

        <a class="navbar-brand justify-cotent-start" href="/"><%= image_tag "logo.png", size:"250x50" %></a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto" style="float: left">

            <form action="/result" accept-charset="UTF-8" method="get" class="form-inline my-2 my-lg-0">
              <input name="utf8" type="hidden" value="✓">
              <input class="form-control mr-sm-2" type="text" name="param1" id="param1" placeholder="CF Handle 1" style="width: 150px; margin: 0 auto; float: none;">
              <input class="form-control mr-sm-2" type="text" name="param2" id="param2" placeholder="CF Handle 2" style="width: 150px; margin: 0 auto; float: none;">
              <input type="submit" name="commit" value="Compare!" class="btn btn-outline-primary my-2 my-sm-0" data-distable-with="Compare!">
              &nbsp;
              <label><input type="radio" name="param3" id="param3">&nbsp;<font class="btn-outline-primary">Force update</font></label>
            </form>
          </ul>

          <ul class="nav navbar-nav ml-auto" style="float: right">            
            <% if user_signed_in? %>
              <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
              <li class="nav-item"><a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a></li>
            <% else %>
              <li class="nav-item"><a class="nav-link" href="/users/sign_in">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/sign_up">Register</a></li>
            <% end %>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</html>